// Colour palette: https://www.colourlovers.com/palette/49963/let_them_eat_cake
$brown: "#774F38";
$pink: "#E08E79";
$beige-cold: "#ECE5CE";
$beige-warm: "#F1D4AF";
$teal: "#C5E0DC";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
